{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% include 'inventario/includes/inventario_menu.html' %}
<div class="container">
  <div style="padding-top:20px; text-align:center;">
    <h1>INGRESAR EQUIPO MEDICO:</h1>
   
  <div class="container" style="padding-top:30px; text-align:left;">
          <table width="100%" border="2">
           
            <form method="post">{% csrf_token %}
               {{ form.as_table }}
            </table>  
              <div style="padding-top:30px; text-align:center;">
                <input type="submit" class="btn btn-primary btn-block" name="submit" id="submit" value="Guardar">
             </div>
             </form>
     <div class="row">
        <div class="text-center col-lg-6 offset-lg-3">
          <div style="padding-top:10px; text-align:center;">
             <h4>EQUIPOS MEDICOS</h4>
             <p>Copyright &copy; 2019 &middot; todos los derechos reservados&middot; <a href="#" >www.hcv.cl</a></p>
        </div>
       </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}