{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% include 'inventario/includes/inventario_menu.html' %}
<div class="container">
  <div style="padding-top:20px; text-align:center;">
    <h1>{{object.nombre_equipo|upper}}</h1>
    
  <div class="container">
       <div class="row text-center">
         <table width="100%" border="2">
           <tbody>
            <table width="70%" border="1" align="center">
              <tbody align="left">
                <tr>
                  <th scope="row">&nbsp;Servicio</th>
                  <td align="left">{{object.servicio}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Clase</th>
                  <td align="left">&nbsp;{{object.clase}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Subclase</th>
                  <td align="left">&nbsp;{{object.subclase}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Nombre Del Equipo</th>
                  <td align="left">&nbsp;{{object.nombre_equipo}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Marca</th>
                  <td align="left">&nbsp;{{object.marca}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Modelo</th>
                  <td align="left">&nbsp;{{object.modelo}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Serie</th>
                  <td align="left">&nbsp; {{object.serie}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Inventario</th>
                  <td align="left">&nbsp;{{object.inventario}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Valor del Equipo</th>
                  <td align="left">&nbsp;{{object.valor}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Fecha de Instalacion</th>
                  <td align="left">&nbsp;{{object.fecha}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Vida Util</th>
                  <td align="left">&nbsp;{{object.vida_util}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Tipo de Contrato</th>
                  <td align="left">&nbsp;{{object.contrato}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Condicion del Equipo</th>
                  <td align="left">&nbsp;{{object.estado}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Relevancia del Equipo</th>
                  <td align="left">&nbsp;{{object.critico_apoyo}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Frecuencia de Mantenimiento</th>
                  <td align="left">&nbsp;{{object.frecuencia}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Empresa Encargada Del Mantenimiento</th>
                  <td align="left">&nbsp;{{object.empresa}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;RUT de la Empresa</th>
                  <td align="left">&nbsp;{{object.rut}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Fecha de Inicio de La Garantia</th>
                  <td align="left">&nbsp;{{object.garantia_inicio}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Fecha de Termino de La Garantia</th>
                  <td align="left">&nbsp;{{object.garantia_final}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Fecha de Baja del Equipo</th>
                  <td align="left">&nbsp;{{object.fecha_baja}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Fecha de Creacion</th>
                  <td align="left">&nbsp;{{object.created}}</td>
                </tr>
                <tr>
                  <th scope="row">&nbsp;Fecha de Actualizacion</th>
                  <td align="left">&nbsp;{{object.updated}}</td>
                </tr>
              </tbody>
            </table>
	         </tbody>
	       </table>
      </div>
      
     <div class="row">
        <div class="text-center col-lg-6 offset-lg-3">
             <h4>EQUIPOS MEDICOS</h4>
             <p>Copyright &copy; 2019 &middot; todos los derechos reservados&middot; <a href="#" >www.hcv.cl</a></p>
       </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}