{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% include 'inventario/includes/inventario_menu.html' %}
<div class="container" >
  <div style="padding-top:20px; text-align:center;">
    <h1>INVENTARIO DE EQUIPOS MEDICOS:</h1>
  <div class="container">
       <div class="row text-center">
         <table width="90%" border="2">
           <tbody>
                <tr>
               <th scope="row" bgcolor="#00FF00" >Ver</th>
					        <td bgcolor="#00FF00"><b>Servicio</b></td>
                  <td bgcolor="#00FF00"><b>clase</b></td>
                  <td bgcolor="#00FF00"><b>subclase</b></td>
                  <td bgcolor="#00FF00"><b>Nombre_equipo</b></td>
                  <td bgcolor="#00FF00"><b>marca</b></td>
                  <td bgcolor="#00FF00"><b>modelo</b></td>
                  <td bgcolor="#00FF00"><b>Serie</b></td>
                  <td bgcolor="#00FF00"><b>inventario</b></td>               
				   </tr>
               {% for article in object_list|dictsort:"id" reversed %}
               <tr>
               <th scope="row"><a href="{% url 'equipo' article.id %}">Ver</a></th>
                  <td>{{article.servicio|truncatechars:"15"}}</td>
                  <td>{{article.clase|truncatechars:"15"}}</td>
                  <td>{{article.subclase|truncatechars:"15"}}</td>
                  <td>{{article.nombre_equipo|truncatechars:"15"}}</td>
                  <td>{{article.marca|truncatechars:"10"}}</td>
                  <td>{{article.modelo|truncatechars:"10"}}</td>
                  <td>{{article.serie|truncatechars:"10"}}</td>
                  <td>{{article.inventario|truncatechars:"10"}}</td>               
				   </tr>
               {% empty %}
                  <li>No articles yet.</li>
               {% endfor %}
           </tbody>
         </table>
       </div>		     
	       </tbody>
    </table>  
			     </th>
	           </tr>
	         </tbody>
	       </table>
      </div>
      <!-- #############################Paginacion################################### -->
      <font size="5">
      <nav>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
    
                {% for i in paginator.page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}>
                        <a href="?page={{i}}">{{ i }}</a>
                    </li>
                {% endfor %}
    
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </nav>
        </font>
      <!-- #############################Termino de paginacion################################### -->
     <div class="row">
        <div class="text-center col-lg-6 offset-lg-3">
          <div style="padding-top:10px; text-align:center;"></div>
       </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}