{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% include 'monitoreo/includes/mantenimiento_menu.html' %}
{% block content %}
{% include 'monitoreo/includes/mantenimiento_menu.html' %}
<div class="container">
<form method="post">{% csrf_token %}
    <div style="padding-top:20px; text-align:center;">
       <h1>PAUTA DE MANTENIMIENTO PREVENTIVO</h1>
       <p>EQUIPOS DE MONITORIZACIÓN HEMODINÁMICAS</p>
       <p>MAQUINA DE ANESTESIA.</p>
		<label for="date">Fecha{{form.fecha}}</label>
    </div>
	<div class="container">
		<div class="row text-center">
			<table width="100%" border="2">
			<tbody>
			<th scope="row">&nbsp;<p>Servicio</p></th>
				<td>&nbsp;<p>	
					{{form.servicio}}
				</p></td>
					<th scope="row">&nbsp;<p>N Inventario</p></th>
					<td>&nbsp;
					{{form.inventario}}
					</td>
				<tr>
					<th scope="row">&nbsp;<p>Equipo</p>
					</th>
					<td>{{form.nombre}}</td>
					<th scope="row">&nbsp;<p>Marca</p>&nbsp;
					</th>
					<td>{{form.marca}}
					</td>
				</tr>
				<tr>
				<th scope="row">&nbsp;<p>Modelo</p></th>
				<td>{{form.modelo}}</td>
					<th scope="row">&nbsp;<p>N° Serie</p></th>
				<td>{{form.serie}}</td>
				</tr>
			</tbody>
			</table>
		</div>	
		<div class="row">
			<table width="100%" border="1">
				<tbody>
				<tr>
					<th scope="row"><table width="100%" border="1">
					<tbody>
						<tr>
							<td>Chequeo Visual:Carcasa Frontal y Trasera</td>
							<td width="5%">{{ form.pauta1 }}</td>
							<td>Chequeo Visual:Etiquetas</td>
							<td width="5%">{{ form.pauta2 }}</td>
						  </tr>
						  <tr>
							<td>Chequeo Visual:Accesorios</td>
							<td width="5%">{{ form.pauta3 }}</td>
							<td>&nbsp;Chequeo Visual:Estado de Software</td>
							<td width="5%">{{ form.pauta4 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Chequeo Visual:Panel frontal</td>
							<td width="5%">{{ form.pauta5 }}</td>
							<td>&nbsp;Chequeo Visual:Panel frontal</td>
							<td width="5%">{{ form.pauta6 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Chequeo Visual:Cable de poder</td>
							<td width="5%">{{ form.pauta7 }}</td>
							<td>&nbsp;Chequeo Visual:Batería de respaldo</td>
							<td width="5%">{{ form.pauta8 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de Alta Presión:Chequeo de yugo de O2</td>
							<td width="5%">{{ form.pauta9 }}</td>
							<td>&nbsp;Sistema de Alta Presión:</td>
							<td width="5%">{{ form.pauta10 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de Alta Presión:Chequeo de yugo de N2O</td>
							<td width="5%">{{ form.pauta11 }}</td>
							<td>&nbsp;Sistema de Alta Presión:Chequeo de yugo de Aire</td>
							<td width="5%">{{ form.pauta12 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de Alta Presión:Limpieza de filtros</td>
							<td width="5%">{{ form.pauta13 }}</td>
							<td>&nbsp;Sistema de Alta Presión:Reemplazo de empaquetadura de yugo</td>
							<td width="5%">{{ form.pauta14 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de Alta Presión:Verificación de entrada de presión 50 lbs</td>
							<td width="5%">{{ form.pauta15 }}</td>
							<td>&nbsp;Sistema de Alta Presión:Verificación de reguladores</td>
							<td width="5%">{{ form.pauta16 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de Alta Presión:Verificación de manómetros</td>
							<td width="5%">{{ form.pauta17 }}</td>
							<td>&nbsp;Sistema de baja presión:Revisión y calibración de válvula de flujómetro de O2</td>
							<td width="5%">{{ form.pauta18 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de baja presión:Revisión y calibración de válvula de flujómetro de N2O</td>
							<td width="5%">{{ form.pauta19 }}</td>
							<td>&nbsp;Sistema de baja presión:Revisión y calibración de válvula de flujómetro de Aire</td>
							<td width="5%">{{ form.pauta20 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de baja presión:Chequeo de fugas</td>
							<td width="5%">{{ form.pauta21}}</td>
							<td>&nbsp;Sistema de baja presión:Verificación de flujos </td>
							<td width="5%">{{ form.pauta22 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de baja presión:Verificación de regulador de 2da (segunda) etapa</td>
							<td width="5%">{{ form.pauta23 }}</td>
							<td>&nbsp;Sistema de baja presión:Revisión de sistema de corte N2O/Aire por falta de O2</td>
							<td width="5%">{{ form.pauta24 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de baja presión:</td>
							<td width="5%">{{ form.pauta25 }}</td>
							<td>&nbsp;Sistema de baja presión:Revisión de sistema proporción de O2/N2O</td>
							<td width="5%">{{ form.pauta26 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema de baja presión:Revisión de manifold de vaporizadores</td>
							<td width="5%">{{ form.pauta27 }}</td>
							<td>&nbsp;Sistema de baja presión:Equipo Operativo</td>
							<td width="5%">{{ form.pauta28 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema Absorbedor:Revisión y reemplazo de empaquetadura de canister</td>
							<td width="5%">{{ form.pauta29 }}</td>
							<td>&nbsp;Sistema Absorbedor:Revisión de válvula APL</td>
							<td width="5%">{{ form.pauta30 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Sistema Absorbedor:Verificación de manómetro de presión de vía aérea (ajuste a cero)</td>
							<td width="5%">{{ form.pauta31 }}</td>
							<td>&nbsp;Revisión de válvula inhalatoria:Empaquetadura</td>
							<td width="5%">{{ form.pauta32 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Revisión de válvula inhalatoria:Disco de válvula</td>
							<td width="5%">{{ form.pauta33}}</td>
							<td>&nbsp;Revisión de válvula inhalatoria:Sensor de flujo</td>
							<td width="5%">{{ form.pauta34 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Revisión de válvula inhalatoria:Chequeo de fugas </td>
							<td width="5%">{{ form.pauta35 }}</td>
							<td>&nbsp;Revisión de válvula inhalatoria:Hermeticidad</td>
							<td width="5%">{{ form.pauta36 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Chequeo de vaporizadores anestesicos (00)</td>
							<td width="5%">{{ form.pauta37 }}</td>
							<td>&nbsp;Chequeo de vaporizadores anestesicos (11)</td>
							<td width="5%">{{ form.pauta38 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Chequeo de vaporizadores anestesicos (22)</td>
							<td width="5%">{{ form.pauta39 }}</td>
							<td>&nbsp;Chequeo de vaporizadores anestesicos (44)</td>
							<td width="5%">{{ form.pauta40 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Chequeo de vaporizadores anestesicos (66)</td>
							<td width="5%">{{ form.pauta41 }}</td>
							<td>&nbsp;Ventilador Mecánico:Porcentaje de Oxigeno</td>
							<td width="5%">{{ form.pauta42 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Ventilador Mecánico:Volumen Corriente</td>
							<td width="5%">{{ form.pauta43 }}</td>
							<td>&nbsp;Ventilador Mecánico:Volumen Minuto</td>
							<td width="5%">{{ form.pauta44 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Ventilador Mecánico:Presión de vía aérea</td>
							<td width="5%">{{ form.pauta45 }}</td>
							<td>&nbsp;Ventilador Mecánico:Frecuencia respiratoria</td>
							<td width="5%">{{ form.pauta46 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Ventilador Mecánico:Modo ventilatorio</td>
							<td width="5%">{{ form.pauta47 }}</td>
							<td>&nbsp;Ventilador Mecánico:Alarmas Baja presión en vía aérea</td>
							<td width="5%">{{ form.pauta48 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Ventilador Mecánico:Alarmas Alta presión en vía aérea</td>
							<td width="5%">{{ form.pauta49 }}</td>
							<td>&nbsp;Ventilador Mecánico:Alarmas Volumen corriente bajo</td>
							<td width="5%">{{ form.pauta50 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Ventilador Mecánico:Alarmas Volumen corriente alto</td>
							<td width="5%">{{ form.pauta51 }}</td>
							<td>&nbsp;Ventilador Mecánico:Alarmas Baja concentración de O2</td>
							<td width="5%">{{ form.pauta52 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Ventilador Mecánico:Calibración de celda de oxigeno a 21%</td>
							<td width="5%">{{ form.pauta53 }}</td>
							<td>&nbsp;Ventilador Mecánico:Ventilador Mecánico:Calibración de celda de oxigeno a 100%</td>
							<td width="5%">{{ form.pauta54 }}</td>
						  </tr>
						  <tr>
							<td>&nbsp;Ventilador Mecánico:Calibración de sensores de flujo</td>
							<td width="5%">{{ form.pauta55 }}</td>
							<td>&nbsp;N/A</td>
							<td width="5%">{{ form.pauta56 }}</td>
						  </tr>
					</tbody>
					</table>
						<div style="padding-top:10px; text-align:center;">
			      <p>IDENTIFICACION DE PERSONAL CALIFICADO</p>
            </div>
					<table width="100%" border="2">
						<tbody>
						<tr>
							<th scope="row">&nbsp;</th>
							<td>&nbsp;<p>Nombre</p></td>
							<td>&nbsp;<p>Firma</p></td>
							<td>&nbsp;<p>Timbre</p></td>
						</tr>
						<tr>
							<th scope="row" width="10%">&nbsp;<p>Tecnico 1</p></th>
							<td>{{form.tecnico1}}</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<th scope="row">&nbsp;<p>Tecnico 2</p></th>
							<td>{{form.tecnico2}}</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<th scope="row">&nbsp;<p>Responsable de MMTTO</p></th>
							<td>{{form.responsable}}</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						</tbody>
					</table>
					<table width="100%" border="2">
			<tbody>
      <div style="padding-top:10px; text-align:center;">
			<p>OBSERVACIONES</p>
      </div>
      
				<tr>
				{{form.justificacion}}
				</tr>
			</tbody>
		</table>
					</th>
				</tr>
				</tbody>
			</table>
			</div>
      <div style="padding-top:30px; text-align:center;">
     		<input type="submit" class="btn btn-primary btn-block" name="submit" id="submit" value="Guardar">
      </div>
</form> 
		
      
     <div class="row">
        <div class="text-center col-lg-6 offset-lg-3" style="padding-top:20px; text-align:center;">
             <h4>EQUIPOS CRITICOS</h4>
             <p>Copyright &copy; 2019 &middot; todos los derechos reservados&middot; <a href="#" >www.hcv.cl</a></p>
       </div>
    </div>
  
  </div>
  </div>
</div>
{% endblock %}