{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% include 'monitoreo/includes/mantenimiento_menu.html' %}
{% block content %}
{% include 'monitoreo/includes/mantenimiento_menu.html' %}
<div class="container">
<form method="post">{% csrf_token %}
    <div style="padding-top:20px; text-align:center;">
       <h1>PAUTA DE MANTENIMIENTO PREVENTIVO</h1>
       <p>EQUIPOS DE SOPORTE VITAL</p>
       <p>INCUBADORA FIJA/TRANSPORTE</p>
		<label for="date">Fecha{{form.fecha}}</label>
	</div>
	
	<div class="container">
		<div class="row text-center">
			<table width="100%" border="2">
			<tbody>
			<th scope="row">&nbsp;<p>Servicio</p></th>
				<td>&nbsp;<p>	
					{{form.servicio}}
				</p></td>
					<th scope="row">&nbsp;<p>N Inventario</p></th>
					<td>&nbsp;
					{{form.inventario}}
					</td>
				<tr>
					<th scope="row">&nbsp;<p>Equipo</p>
					</th>
					<td>{{form.nombre}}				</td>
					<th scope="row">&nbsp;<p>Marca</p>&nbsp;
					</th>
					<td>{{form.marca}}
					</td>             
				</tr>
				<tr>
				<th scope="row">&nbsp;<p>Modelo</p></th>
				<td>{{form.modelo}}</td>
					<th scope="row">&nbsp;<p>N° Serie</p></th>
				<td>{{form.serie}}</td>
				</tr>
			</tbody>
			</table>
		</div>	
		<div class="row">
			<table width="100%" border="1">
				<tbody>
				<tr>
					<th scope="row"><table width="100%" border="1">
					<tbody>
						<tr>
						<th scope="row" width="95%"><p>Consultar con usuarios, comportamiento del equipo</p></th>
						<td>{{form.pauta1}}</td>
						
						</tr>
						<tr>
						<th scope="row"><p>Inspección externa del equipo, en busca de daños o pérdidas del hardware</p></th>
						<td> {{form.pauta2}} </td>
						
						</tr>
						<tr>
						<th scope="row"><p>Revisión del cable poder, el cordón y enchufe no deben tener signos de daño</p></th>
						<td> {{form.pauta3}}  </td>
						
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar el interior en busca de corrosión o pérdida de piezas. Repara de ser necesario.</p></th>
						<td>{{form.pauta4}} </td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar los elementos eléctricos, signos de excesivo calor o deterioro</p></th>
						<td>{{form.pauta5}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Verificar la exactitud de los indicadores de temperatura y la temperatura de la incubadora.</p></th>
						<td>{{form.pauta6}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar condiciones de todos los cobertores plásticos. Verificar la integridad del ensamblaje de la cama.</p></th>
						<td>{{form.pauta7}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar calefactor y cableado en busca de daños eléctricos o mecánicos.</p></th>
						<td>{{form.pauta8}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Inspeccionar mecanismos de transporte incluyendo frenos, en caso de ser de transportable.</p></th>
						<td>{{form.pauta9}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Verificar la correcta operación de todos los botones, controles, pantallas e indicadores.</p></th>
						<td> {{form.pauta10}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Verificar la correcta operación de la unidad en todas sus modalidades.</p></th>
						<td>{{form.pauta11}}</td>
						</tr>
						<tr>
						<th scope="row"><p>Equipo Operativo</p></th>
						<td>{{form.pauta12}}</td>
						</tr>
					</tbody>
					</table>
						<div style="padding-top:10px; text-align:center;">
			      <p>IDENTIFICACION DE PERSONAL CALIFICADO</p>
            </div>
					<table width="100%" border="2">
						<tbody>
						<tr>
							<th scope="row">&nbsp;</th>
							<td>&nbsp;<p>Nombre</p></td>
							<td>&nbsp;<p>Firma</p></td>
							<td>&nbsp;<p>Timbre</p></td>
						</tr>
						<tr>
							<th scope="row" width="10%">&nbsp;<p>Tecnico 1</p></th>
							<td>{{form.tecnico1}}</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<th scope="row">&nbsp;<p>Tecnico 2</p></th>
							<td>{{form.tecnico2}}</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<th scope="row">&nbsp;<p>Responsable de MMTTO</p></th>
							<td>{{form.responsable}}</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						</tbody>
					</table>
					<table width="100%" border="2">
			<tbody>
      <div style="padding-top:10px; text-align:center;">
			<p>OBSERVACIONES</p>
      </div>
      
				<tr>
				{{form.justificacion}}
				</tr>
			</tbody>
		</table>
					</th>
				</tr>
				</tbody>
			</table>
			</div>
      <div style="padding-top:30px; text-align:center;">
     		<input type="submit" class="btn btn-primary btn-block" name="submit" id="submit" value="Guardar">
      </div>
</form> 
		
      
     <div class="row">
        <div class="text-center col-lg-6 offset-lg-3" style="padding-top:20px; text-align:center;">
             <h4>EQUIPOS CRITICOS</h4>
             <p>Copyright &copy; 2019 &middot; todos los derechos reservados&middot; <a href="#" >www.hcv.cl</a></p>
       </div>
    </div>
  
  </div>
  </div>
</div>
{% endblock %}