{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% include 'monitoreo/includes/mantenimiento_menu.html' %}
<div class="container" style="margin:-2.5% 0;">
  <div style="padding-top:20px; text-align:center;">
       <h1>PAUTAS DE MANTENIMIENTO PREVENTIVO</h1>
       <h3>PARQUE AUTOMOTRIZ</h3>
   </div> 
  <div class="container">
       <div class="row text-center">
         <table width="90%" border="2">
           <tbody>

          <div style="padding-top:10px; text-align:center;">
          </div>

                <tr>
               <th scope="row" bgcolor="#00FF00" >Detalle</th>
					        <td bgcolor="#00FF00"><b>Fecha de Mantenimiento</b></td>
                  <td bgcolor="#00FF00"><b>Servicio</b></td>
                  <td bgcolor="#00FF00"><b>Patente</b></td>
                  <td bgcolor="#00FF00"><b>Marca</b></td>
                  <td bgcolor="#00FF00"><b>Modelo</b></td>
                  <td bgcolor="#00FF00"><b>Proximo Cambio</b></td>
                  <td bgcolor="#00FF00"><b>KM Real</b></td>               
				   </tr>
               {% for article in object_list|dictsort:"fecha" reversed %}
               <tr>
                  <th scope="row"><a href="{% url 'ambulancias:ambulancia' article.id %}">Ver</a></th>
					        <td>{{article.fecha|date}}</td>
                  <td>{{article.Servicio|truncatechars:"15"}}</td>
                  <td>{{article.Patente|truncatechars:"15"}}</td>
                  <td><p>Mercedes Benz</p></td>
                  <td>{{article.modelo|truncatechars:"15"}}</td>
                  <td>{{article.proximo_cambio|truncatechars:"15"}}</td>
                  <td>{{article.km_real|truncatechars:"15"}}</td>               
				       </tr>
               {% empty %}
                  <li>No articles yet.</li>
               {% endfor %} 
           </tbody>
         </table>
       </div>		     
	       </tbody>
    </table>
			     </th>
	           </tr>
	         </tbody>
	       </table>
      </div> 
       <!-- #############################Paginacion################################### -->
       <font size="5">
        <nav>
          {% if is_paginated %}
              <ul class="pagination">
                  {% if page_obj.has_previous %}
                      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                  {% endif %}
      
                  {% for i in paginator.page_range %}
                      <li {% if page_obj.number == i %} class="active" {% endif %}>
                          <a href="?page={{i}}">{{ i }}</a>
                      </li>
                  {% endfor %}
      
                  {% if page_obj.has_next %}
                      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                  {% endif %}
              </ul>
          {% endif %}
          </nav>
          </font>
        <!-- #############################Termino de paginacion################################### -->
     
    
     <div class="row">
        
    </div>
  </div>
  </div>
</div>









{% endblock %}